In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.decomposition import PCA,KernelPCA

In [2]:
train_forecloosure = pd.read_csv("../input/train_foreclosure.csv")
test_foreclosure = pd.read_csv("../input/test_foreclosure.csv")
RF_Final_Data = pd.read_excel("../input/RF_Final_Data.xlsx")
LMS = pd.read_excel("../input/LMS_31JAN2019.xlsx")
customers = pd.read_excel("../input/Customers_31JAN2019.xlsx")

## Lets Find Missing Values

In [3]:
# Function to calculate missing values by column# Funct 
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [4]:
# Missing values statistics of Customers
missing_values = missing_values_table(train_forecloosure)
missing_values.head(10)

Your selected dataframe has 2 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [5]:
# Missing values statistics of Customers
missing_values = missing_values_table(train_forecloosure)
missing_values.head(10)

Your selected dataframe has 2 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [6]:
# Missing values statistics of Customers
missing_values = missing_values_table(RF_Final_Data)
missing_values.head(10)

Your selected dataframe has 9 columns.
There are 2 columns that have missing values.

                        Missing Values  % of Total Values
Preprocessed_Subject               183                2.4
Preprocessed_EmailBody             155                2.1

In [7]:
# Missing values statistics of Customers
missing_values = missing_values_table(LMS)
missing_values.head(10)

Your selected dataframe has 38 columns.
There are 10 columns that have missing values.

                      Missing Values  % of Total Values
NPA_IN_LAST_MONTH             610891               97.9
NPA_IN_CURRENT_MONTH          610814               97.8
LAST_RECEIPT_AMOUNT            12045                1.9
LAST_RECEIPT_DATE               3787                0.6
CUSTOMERID                       516                0.1
SCHEMEID                         516                0.1
DPD                               31                0.0
CITY                               8                0.0
CURRENT_TENOR                      5                0.0
BALANCE_TENURE                     5                0.0

In [8]:
# Missing values statistics of Customers
missing_values = missing_values_table(customers)
missing_values.head(10)

Your selected dataframe has 15 columns.
There are 10 columns that have missing values.

                 Missing Values  % of Total Values
PROFESSION                10000              100.0
OCCUPATION                10000              100.0
POSITION                   9339               93.4
PRE_JOBYEARS               7625               76.2
QUALIFICATION               603                6.0
AGE                         396                4.0
MARITAL_STATUS              396                4.0
SEX                         394                3.9
NO_OF_DEPENDENT              79                0.8
BRANCH_PINCODE               73                0.7

## Lets adjust the LMS DataFrame

In [9]:
LMS.columns

Index(['AGREEMENTID', 'CUSTOMERID', 'LOAN_AMT', 'NET_DISBURSED_AMT',
       'INTEREST_START_DATE', 'CURRENT_ROI', 'ORIGNAL_ROI', 'CURRENT_TENOR',
       'ORIGNAL_TENOR', 'DUEDAY', 'AUTHORIZATIONDATE', 'CITY',
       'PRE_EMI_DUEAMT', 'PRE_EMI_RECEIVED_AMT', 'PRE_EMI_OS_AMOUNT',
       'EMI_DUEAMT', 'EMI_RECEIVED_AMT', 'EMI_OS_AMOUNT', 'EXCESS_AVAILABLE',
       'EXCESS_ADJUSTED_AMT', 'BALANCE_EXCESS', 'NET_RECEIVABLE',
       'OUTSTANDING_PRINCIPAL', 'PAID_PRINCIPAL', 'PAID_INTEREST',
       'MONTHOPENING', 'LAST_RECEIPT_DATE', 'LAST_RECEIPT_AMOUNT', 'NET_LTV',
       'COMPLETED_TENURE', 'BALANCE_TENURE', 'DPD', 'FOIR', 'PRODUCT',
       'SCHEMEID', 'NPA_IN_LAST_MONTH', 'NPA_IN_CURRENT_MONTH', 'MOB'],
      dtype='object')

In [10]:
LMS=LMS.groupby('AGREEMENTID').agg({      # find the sum of the durations for each group
                                     'CUSTOMERID': 'last',
                                  'LOAN_AMT':'last',
                                  'NET_DISBURSED_AMT':'last',
                                  'INTEREST_START_DATE':'last',
                                  'CURRENT_ROI':'last',  #Could me mean
                                  'ORIGNAL_ROI':'last',
                                  'CURRENT_TENOR':'last',
                                  'ORIGNAL_TENOR':'last',
                                  'DUEDAY':'last',
                                  'AUTHORIZATIONDATE':'last',
                                  'CITY':'last',
                                  'PRE_EMI_DUEAMT':sum,
                                  'PRE_EMI_RECEIVED_AMT':sum,
                                  'PRE_EMI_OS_AMOUNT':sum,
                                  'EMI_DUEAMT':sum,
                                  'EMI_RECEIVED_AMT':sum,
                                  'EMI_OS_AMOUNT':sum,
                                  'EXCESS_AVAILABLE':sum,
                                  'EXCESS_ADJUSTED_AMT':sum,
                                  'BALANCE_EXCESS':sum,
                                  'NET_RECEIVABLE':sum,
                                  'OUTSTANDING_PRINCIPAL':'last',
                                  'PAID_PRINCIPAL':sum,
                                  'PAID_INTEREST':sum,
                                  'MONTHOPENING':'last',
                                  'LAST_RECEIPT_DATE':'last',
                                  'LAST_RECEIPT_AMOUNT':sum,
                                  'NET_LTV':'last',
                                  'COMPLETED_TENURE':'last',
                                  'BALANCE_TENURE':'last',
                                  'DPD':'last',
                                  'FOIR':'last',
                                  'PRODUCT':'last',
                                  'SCHEMEID':'last',
                                  'NPA_IN_LAST_MONTH':'last',
                                  'NPA_IN_CURRENT_MONTH':'last',
                                  'MOB':'last'  
                                })

In [11]:
missing_values = missing_values_table(LMS)
missing_values.head(10)

Your selected dataframe has 37 columns.
There are 6 columns that have missing values.

                      Missing Values  % of Total Values
NPA_IN_LAST_MONTH              20338               61.0
NPA_IN_CURRENT_MONTH           20303               60.9
CUSTOMERID                       459                1.4
SCHEMEID                         459                1.4
LAST_RECEIPT_DATE                128                0.4
DPD                                1                0.0

## Lets Merge the Customer and LMS dataframes

In [12]:
customers.shape

(10000, 15)

In [13]:
LMS=LMS.reset_index()

In [14]:
RF_Final_Data.shape

(7511, 9)

In [15]:
Combine_df = pd.merge(LMS, customers, on='CUSTOMERID',how='outer')

In [16]:
Combine_df.shape

(33354, 52)

In [17]:
Combine_df = pd.merge(Combine_df, train_forecloosure, on='AGREEMENTID',how='outer')

In [18]:
# Missing values statistics of Customers
missing_values = missing_values_table(Combine_df)
missing_values.head(20)

Your selected dataframe has 53 columns.
There are 21 columns that have missing values.

                      Missing Values  % of Total Values
PROFESSION                     33354              100.0
OCCUPATION                     33354              100.0
POSITION                       32693               98.0
PRE_JOBYEARS                   30979               92.9
QUALIFICATION                  23957               71.8
AGE                            23750               71.2
MARITAL_STATUS                 23750               71.2
SEX                            23748               71.2
NO_OF_DEPENDENT                23433               70.3
BRANCH_PINCODE                 23427               70.2
GROSS_INCOME                   23354               70.0
NETTAKEHOMEINCOME              23354               70.0
CUST_CONSTTYPE_ID              23354               70.0
CUST_CATEGORYID                23354               70.0
NPA_IN_LAST_MONTH              20338               61.0
NPA_IN_CURRENT_MONTH           20303               60.9
FORECLOSURE                    13342               40.0
SCHEMEID                         459                1.4
CUSTOMERID                       459                1.4
LAST_RECEIPT_DATE                128                0.4

## Lets Merge Combined DB with RF Final

In [19]:
RF_Final_Data['Type'].unique()

array(['REQUEST', 'General', 'QUERY', 'Unassigned', 'COMPLAINT',
       'Request', 'ROI', 'Foreclosure'], dtype=object)

In [20]:
RF_Final_Data['SubType'].unique()

array(['PROVISIONAL IT CERTIFICATE', 'SOA', 'Others', 'CHANGEOFROI',
       'TDSREIMBRELATED', 'FORECLOSURE', 'REPAYMENT SCHEDULE',
       'FINAL IT CERTIFICATE', 'LISTOFDOCS', 'Unassigned',
       'PREPAYEMICHNG', 'Final Income Tax Certificate',
       'FINAL IT CERTIFICATE NONHL', 'COPYOFORIGDOCS', 'PREPAYTENORCHNG',
       'CHANGEREPAYMODE', 'CHANGEADDRESS', 'EMIPOSTCLOSURE',
       'UPDATECONTACTDET', 'Statement of Account',
       'PROVISIONAL IT CERTIFICATE NONHL', 'WRONGDEBITEMI',
       'INSURPOLNOTRECD', 'STATUSOFLOANAPP', 'REFOFINSUR', 'NONRECOFINSU',
       'NONRECTLISTDOCS', 'ORIGDOCNOTRECD', 'Repayment Schedule',
       'WRONGCONTACTDET', 'EMINOTBANKED', 'DOCSUBMITFORLOAN', 'COMPLAINT',
       'EMI NOT BANKED', 'NO LIEN LETTER REQUIRED',
       'ORG PROPERTY PAPERS REQUIRED POST LOAN CLOSURE',
       'PAN NO REQUIRED', 'EMI TO BE DEBITED', 'TOP UP LOAN REQUIRED',
       'EXCESS EMI REFUND', 'CHANGE IN THE EMI DUE DATE',
       'NEFT DETAILS REQ', 'ROC CHARGE REMOVAL', 'NOC REISSUE',
       'DISBURSEMENT BREAK UP REQUIRED', 'CIBILTOBEUPDATED',
       'ORG SHARE CERTIFICATE REQUIRED FOR TRANSFER', 'WELKITNOTRECD',
       'ROI Approval', 'Foreclosure Approval'], dtype=object)

In [21]:
RF_Final_Data.shape

(7511, 9)

In [22]:
RF_Final_Data['Masked_CustomerID'].nunique()

2709

In [23]:
Email_Data = RF_Final_Data[['Type','SubType','Masked_CustomerID']]

In [24]:
Email_Data = Email_Data.rename(columns={'Masked_CustomerID': 'CUSTOMERID'})

In [25]:
Email_Data = pd.get_dummies(Email_Data)

In [26]:
Email_Data.columns

Index(['CUSTOMERID', 'Type_COMPLAINT', 'Type_Foreclosure', 'Type_General',
       'Type_QUERY', 'Type_REQUEST', 'Type_ROI', 'Type_Request',
       'Type_Unassigned', 'SubType_CHANGE IN THE EMI DUE DATE',
       'SubType_CHANGEADDRESS', 'SubType_CHANGEOFROI',
       'SubType_CHANGEREPAYMODE', 'SubType_CIBILTOBEUPDATED',
       'SubType_COMPLAINT', 'SubType_COPYOFORIGDOCS',
       'SubType_DISBURSEMENT BREAK UP REQUIRED', 'SubType_DOCSUBMITFORLOAN',
       'SubType_EMI NOT BANKED', 'SubType_EMI TO BE DEBITED',
       'SubType_EMINOTBANKED', 'SubType_EMIPOSTCLOSURE',
       'SubType_EXCESS EMI REFUND', 'SubType_FINAL IT CERTIFICATE',
       'SubType_FINAL IT CERTIFICATE NONHL', 'SubType_FORECLOSURE',
       'SubType_Final Income Tax Certificate', 'SubType_Foreclosure Approval',
       'SubType_INSURPOLNOTRECD', 'SubType_LISTOFDOCS',
       'SubType_NEFT DETAILS REQ', 'SubType_NO LIEN LETTER REQUIRED',
       'SubType_NOC REISSUE', 'SubType_NONRECOFINSU',
       'SubType_NONRECTLISTDOCS',
       'SubType_ORG PROPERTY PAPERS REQUIRED POST LOAN CLOSURE',
       'SubType_ORG SHARE CERTIFICATE REQUIRED FOR TRANSFER',
       'SubType_ORIGDOCNOTRECD', 'SubType_Others', 'SubType_PAN NO REQUIRED',
       'SubType_PREPAYEMICHNG', 'SubType_PREPAYTENORCHNG',
       'SubType_PROVISIONAL IT CERTIFICATE',
       'SubType_PROVISIONAL IT CERTIFICATE NONHL', 'SubType_REFOFINSUR',
       'SubType_REPAYMENT SCHEDULE', 'SubType_ROC CHARGE REMOVAL',
       'SubType_ROI Approval', 'SubType_Repayment Schedule', 'SubType_SOA',
       'SubType_STATUSOFLOANAPP', 'SubType_Statement of Account',
       'SubType_TDSREIMBRELATED', 'SubType_TOP UP LOAN REQUIRED',
       'SubType_UPDATECONTACTDET', 'SubType_Unassigned',
       'SubType_WELKITNOTRECD', 'SubType_WRONGCONTACTDET',
       'SubType_WRONGDEBITEMI'],
      dtype='object')

In [27]:
Email_Data_groupby=Email_Data.groupby('CUSTOMERID').sum()

In [28]:
Email_Data_groupby = Email_Data_groupby.reset_index()

In [29]:
Email_Data_groupby.head()

   CUSTOMERID          ...            SubType_WRONGDEBITEMI
0    12001002          ...                                0
1    12001003          ...                                0
2    12001005          ...                                0
3    12001009          ...                                0
4    12001010          ...                                0

[5 rows x 59 columns]

In [30]:
Email_Data_groupby['CUSTOMERID'].nunique()

2709

In [31]:
Combine_df_with_RF_Data = pd.merge(Combine_df, Email_Data_groupby, on='CUSTOMERID',how='outer')

In [32]:
Combine_df_with_RF_Data.head()

   AGREEMENTID          ...            SubType_WRONGDEBITEMI
0     11220001          ...                              NaN
1     11220002          ...                              NaN
2     11220003          ...                              0.0
3     11220004          ...                              0.0
4     11220005          ...                              NaN

[5 rows x 111 columns]

In [33]:
Combine_df_with_RF_Data.shape

(33354, 111)

## We now have our DF , Lets try and delete missing columns and create train and test data

In [34]:
missing_values = missing_values_table(Combine_df_with_RF_Data)
missing_values.head(100)

Your selected dataframe has 111 columns.
There are 79 columns that have missing values.

                                                    Missing Values  % of Total Values
PROFESSION                                                   33354              100.0
OCCUPATION                                                   33354              100.0
POSITION                                                     32693               98.0
PRE_JOBYEARS                                                 30979               92.9
SubType_EMI TO BE DEBITED                                    30645               91.9
SubType_NONRECOFINSU                                         30645               91.9
SubType_Others                                               30645               91.9
SubType_ORIGDOCNOTRECD                                       30645               91.9
SubType_ORG SHARE CERTIFICATE REQUIRED FOR TRAN...           30645               91.9
SubType_ORG PROPERTY PAPERS REQUIRED POST LOAN ...           30645               91.9
SubType_NONRECTLISTDOCS                                      30645               91.9
SubType_NOC REISSUE                                          30645               91.9
SubType_PREPAYEMICHNG                                        30645               91.9
SubType_NO LIEN LETTER REQUIRED                              30645               91.9
SubType_NEFT DETAILS REQ                                     30645               91.9
SubType_LISTOFDOCS                                           30645               91.9
SubType_INSURPOLNOTRECD                                      30645               91.9
SubType_Foreclosure Approval                                 30645               91.9
SubType_Final Income Tax Certificate                         30645               91.9
SubType_FORECLOSURE                                          30645               91.9
SubType_FINAL IT CERTIFICATE NONHL                           30645               91.9
SubType_PAN NO REQUIRED                                      30645               91.9
SubType_PROVISIONAL IT CERTIFICATE NONHL                     30645               91.9
SubType_PREPAYTENORCHNG                                      30645               91.9
SubType_PROVISIONAL IT CERTIFICATE                           30645               91.9
SubType_WRONGCONTACTDET                                      30645               91.9
SubType_WELKITNOTRECD                                        30645               91.9
SubType_Unassigned                                           30645               91.9
SubType_UPDATECONTACTDET                                     30645               91.9
SubType_TOP UP LOAN REQUIRED                                 30645               91.9
...                                                            ...                ...
Type_ROI                                                     30645               91.9
Type_Request                                                 30645               91.9
Type_Unassigned                                              30645               91.9
SubType_CHANGE IN THE EMI DUE DATE                           30645               91.9
Type_General                                                 30645               91.9
SubType_CHANGEOFROI                                          30645               91.9
SubType_CIBILTOBEUPDATED                                     30645               91.9
SubType_COMPLAINT                                            30645               91.9
SubType_COPYOFORIGDOCS                                       30645               91.9
SubType_DISBURSEMENT BREAK UP REQUIRED                       30645               91.9
SubType_DOCSUBMITFORLOAN                                     30645               91.9
SubType_EMI NOT BANKED                                       30645               91.9
SubType_CHANGEREPAYMODE                                      30645               91.9
QUALIFICATION                                                23957               71.8
AGE                                                          23750               71.2
MARITAL_STATUS                                               23750               71.2
SEX                                                          23748               71.2
NO_OF_DEPENDENT                                              23433               70.3
BRANCH_PINCODE                                               23427               70.2
CUST_CONSTTYPE_ID                                            23354               70.0
CUST_CATEGORYID                                              23354               70.0
GROSS_INCOME                                                 23354               70.0
NETTAKEHOMEINCOME                                            23354               70.0
NPA_IN_LAST_MONTH                                            20338               61.0
NPA_IN_CURRENT_MONTH                                         20303               60.9
FORECLOSURE                                                  13342               40.0
SCHEMEID                                                       459                1.4
CUSTOMERID                                                     459                1.4
LAST_RECEIPT_DATE                                              128                0.4
DPD                                                              1                0.0

[79 rows x 2 columns]

In [35]:
Combine_df_with_RF_Data = Combine_df_with_RF_Data.drop(['PROFESSION','OCCUPATION','PRE_JOBYEARS','POSITION'],axis=1)
Combine_df= Combine_df.drop(['PROFESSION','OCCUPATION','PRE_JOBYEARS','POSITION'],axis=1)

In [36]:
train_df = Combine_df[Combine_df['FORECLOSURE'].notnull()]

In [37]:
test_df = Combine_df[Combine_df['FORECLOSURE'].isnull()]

In [38]:
train_df_with_RF = Combine_df_with_RF_Data[Combine_df_with_RF_Data['FORECLOSURE'].notnull()]
test_df_with_RF = Combine_df_with_RF_Data[Combine_df_with_RF_Data['FORECLOSURE'].isnull()]

In [39]:
train_df.shape

(20012, 49)

In [40]:
test_df.shape

(13342, 49)

In [41]:
train_df_with_RF.shape

(20012, 107)

In [42]:
test_df_with_RF.shape

(13342, 107)

In [43]:
train_df.to_csv('train_df.csv',index=False)
test_df.to_csv('test_df.csv',index=False)

In [44]:
train_df_with_RF.to_csv('train_df_with_RF.csv',index=False)
test_df_with_RF.to_csv('test_df_with_RF.csv',index=False)